In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import Ridge
from datetime import datetime
import shap

In [125]:
exec(open("../../header.py").read())

# Import data

In [126]:
folder = 'boston'

In [127]:
X = pd.read_csv(processed_root(f'{folder}/X.csv'))
y = pd.read_csv(processed_root(f'{folder}/y.csv'))

In [128]:
mean = np.mean(X, axis = 0)
std = np.std(X, axis = 0)

X_norm = (X - mean)/std

# Fit model

In [129]:
model = Ridge()
model.fit(X_norm, y.iloc[:,0])

Ridge()

In [130]:
model.score(X_norm, y)

0.7406304514762485

# Compare feature importance/impact metrics

In [131]:
shapley = SHAP_FI()
ice = ICE("continuous")
native = Native_FI()
# fi_metrics = [ice, shapley, native]
fi_metrics = [ice, native]

In [132]:
comparator = Comparator()

In [133]:
comparator.fit(X_norm, model, fi_metrics)

In [134]:
ice.ice_dfs['ZN'].dydx_abs.mean()

1.0664610380845185

In [135]:
np.std(ice.ice_dfs['ZN'])

CRIM                1.015752e+00
ZN                  1.224623e+00
INDUS               1.006129e+00
CHAS                9.617322e-01
NOX                 1.005194e+00
RM                  1.007453e+00
AGE                 1.003412e+00
DIS                 9.816507e-01
RAD                 9.998238e-01
TAX                 1.004309e+00
PTRATIO             1.004935e+00
B                   1.006902e+00
LSTAT               1.017318e+00
orig_ZN             9.983096e-01
obs                 1.316355e+02
y_pred              7.685778e+00
y_pred_centered     1.306012e+00
feature_distance    1.214162e+00
original_point      1.923077e-01
likelihood          2.121694e-01
dy                  1.279982e-01
dx                  1.200214e-01
dydx                6.168679e-14
dydx_abs            6.168679e-14
dtype: float64

In [120]:
comparator.build_raw_table()

    Feature  Feature Impact  In-Dist Feature Impact  Native Feature Importance
0      CRIM        0.956242                0.954093                  -0.919871
1        ZN        1.306012                1.238302                   1.066461
2     INDUS        0.095685                0.094529                   0.117385
3      CHAS        1.350041                0.326852                   0.685127
4       NOX        1.887318                1.865631                  -2.029010
5        RM        2.770043                2.765396                   2.682754
6       AGE        0.012687                0.012662                   0.013158
7       DIS        2.932950                2.925486                  -3.077340
8       RAD        1.935870                1.729207                   2.591538
9       TAX        1.117059                1.101381                  -2.010558
10  PTRATIO        2.148694                2.117136                  -2.052385
11        B        0.964953                0.963825                   0.848848
12    LSTAT        3.746829                3.738511                  -3.730666

In [121]:
comparator.build_normalized_table()

    Feature  Feature Impact  In-Dist Feature Impact  Native Feature Importance
0      CRIM        4.505392                4.810632                  15.820139
1        ZN        6.153358                6.243642                 -18.341220
2     INDUS        0.450827                0.476626                  -2.018810
3      CHAS        6.360804                1.648021                 -11.782956
4       NOX        8.892217                9.406693                  34.895340
5        RM       13.051228               13.943400                 -46.138560
6       AGE        0.059778                0.063845                  -0.226302
7       DIS       13.818777               14.750589                  52.924731
8       RAD        9.120971                8.718831                 -44.569806
9       TAX        5.263094                5.553272                  34.577995
10  PTRATIO       10.123705               10.674807                  35.297339
11        B        4.546434                4.859701                 -14.598672
12    LSTAT       17.653416               18.849940                  64.160782